<div class="paginator">

<h1>High scores</h1>
<table class="table table-responsive">
  <thead>
      <tr>
        <th>Score</th>
      </tr>
  </thead>
<?php
  //var_dump($query);

  foreach ($query as $row){

        echo '<tr><td>'.$row["hs1"].'</td></tr>';
  }
  ?>

</div>
</div>
