<div class="paginator">
<h2>
<?= $this->Form->create();  ?>
<?php echo 'Som '.@$totalanswered.'<br>'.$som.'<form action="Controller/ExercizesController" method="POST">
<input type="text"  name="postMe" autofocus>
<input type="hidden" value="'.$answ.'" name="answ">';
echo $this->Form->end(); ?>
</h2>

<?php
echo $this->Form->create('stopquiz');
echo $this->Form->submit('Stop', array('name'=>'stopMe'));
echo $this->Form->end();
?>
</div>
