<div class="paginator">
<h1>Nieuwe gebruiker</h1>

<?php
  echo $this->Form->create(array('method'=>'post', 'action'=>'adduser'));
  echo $this->Form->input('user',array('label'=>'Je hiscore naam','type'=>'text','name'=>'txtAddUser'));
  echo $this->Form->button('Ok',array('action'=>'adduser','name'=>'btnAdd'));
  echo $this->Form->end();

?>
</div>
